{% extends 'medapp/articlesHomePage.html' %}

{% load static %}
         
         
{% block articlesBelowSearchBar %}       
            <br>
                    <div class="reviewBox">
                        <div class="reviewTop">
                            <div> 
                                <h5>{{fullName}}</h5> &emsp; ( {{review.datePosted}} ) 
                            </div>
                            &nbsp;  • {%  if review.stars == 5 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span> 
                            {% elif review.stars == 4 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span> 
                            {% elif review.stars == 3 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span> 
                            {% elif review.stars == 2 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span> 
                            {% elif review.stars == 1 %}
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star "></span> 
                            {% endif %} • <br> 
                        </div>   
                        <div class="reviewText">
                            &emsp; {{review.dody|linebreaksbr}}<br>
                        </div>
                        
                    </div>  

        {% endblock articlesBelowSearchBar %}


                
  